/* Modal.scss o SubmitArticle.scss */

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body input[type="text"],
.modal-body textarea,
.modal-body input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-body button {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body button:hover {
  background-color: #0056b3;
}

.modal-body textarea {
  resize: none;
  height: 100px;
}
