:root {
  --primary-color: #803103;  /* Azul suave */
  --secondary-color: hsl(25, 96%, 20%);  /* Naranja suave */
  --background-color: #F8F8F8;  /* Fondo gris claro */
  --text-color: #000000;  /* Texto principal */
  --heading-font-family: 'Merriweather', serif;  /* Fuente para títulos */
  --body-font-family: 'Open Sans', sans-serif;  /* Fuente para texto */
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 14px;
  --padding-base: 10px;
  --padding-large: 20px;
}

body {
  padding: 0;
  min-height: 100vh; 
  background-color: var(--background-color);
  font-family: var(--body-font-family);
  color: var(--text-color);
}

/* Títulos */
h1 {
  font-weight: bold;
  text-align: center;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

/* Estilo para el Modal */
.modal-content {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: var(--primary-color);
  color: white;
}

.modal-body {
  padding: var(--padding-large);
}

.modal-footer {
  border-top: none; /* Eliminar el borde superior */
}

/* Botones */
.btn {
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: var(--padding-large);
  margin-top: var(--padding-large);
  font-size: var(--font-size-base);
}

/* Estilos de texto */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: var(--padding-base);
}

.mb-1 {
  margin-bottom: var(--padding-base);
}

/* Estilos para alertas */
.alert {
  margin: var(--padding-large) auto;
  max-width: 600px;
}

/* Carga */
.spinner-border {
  width: 3rem;
  height: 3rem;
}
