.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff !important;

  &__logo {
    img {
      width: 80px;
      height: auto;
    }
  }

  &__title {
    font-size: 4.5rem; // Ajusta el tamaño de la fuente al triple
    color: #ff8c8c;
    text-align: center;
    flex-grow: 1;
    margin: 0;
  }
}
