.footer {
  background-color: var(--primary-color);
  padding: var(--padding-large);
  text-align: center;
  color: white;
  background-color: #ff9a76 !important;

  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--padding-base);
  }

  &__copy {
    font-family: var(--body-font-family);
    font-size: var(--font-size-small);
    margin-top: 15px;
  }

  .footer__link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--secondary-color);
    }
  }
}
